*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(left, #3e3f6b, #9a83a4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input,
button {
    border: none;
    outline: none;
    background: none;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 790px;
    height: 550px;
    background: #fff;
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #3e3f6b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;

}

label {
    display: block;
    width: 260px;
    margin: 25px auto;
    text-align: center;
}

label span {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inputs-labels {
    margin-left: 100px;
}

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.submit {
    margin-left: 210px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    background: -webkit-linear-gradient(left, #3e3f6b, #9a83a4);
}